<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWDIIARpZzGGTMSkhvogb95Wj3AjqCUq8</string>
	<key>GCM_SENDER_ID</key>
	<string>141188926516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.carehub</string>
	<key>PROJECT_ID</key>
	<string>carehub-e9cfc</string>
	<key>STORAGE_BUCKET</key>
	<string>carehub-e9cfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141188926516:ios:84de5161ae07adadb68e61</string>
</dict>
</plist>